.circuit-wrapper {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the boxes horizontally */
  padding: 20px;
}

.circuit-box,
.parallel-box {
  top: 100px;
  bottom: 100px;
  display: inline-block;
  background-color: WHITE;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 250px; /* Adjust the width of the boxes */
  margin: 100px; /* Add some spacing between the boxes */
  padding-bottom: 50px; /* Add padding to create space for the buttons */

}
.circuit-heading,
.parallel-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.circuit-image {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  position: relative;
}

.button-container {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center; /* Center the buttons horizontally */
  margin-top: 500px; /* Increase margin from the top */
}


.circuit-button,
.change-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  padding: 10px 20px;
  display: inline-block;
  margin: 0 5px; /* Add some spacing between the buttons */
  transition: background-color 0.3s;
}


.circuit-button:hover,
.change-button:hover {
  background-color: #45a049;
}

.circuit-button:active,
.change-button:active {
  background-color: #388e3c;
}

.circuit-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.circuit-button-text {
  font-size: 18px;
}

.scissors-gif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  z-index: 1;
}

/* CSS */


/* Media query for responsiveness */
@media (max-width: 768px) {
  .circuit-box,
  .parallel-box {
    width: 100%; /* Set the boxes to full width on smaller screens */
    margin: 10px 0; /* Adjust margin for smaller screens */
  }
}
