/* data.css */

.single-container {
  margin-top: 150px;
  position: relative; /* Set container as relative for absolute positioning */
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align items to the top */
  justify-content: space-between; /* Space items evenly */
  padding: 80px;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background-color: #EEEFF3


}

.single-content {
  flex: 1;
  margin-right: 20px; /* Add some space between text and image */
  word-wrap: break-word; /* Ensure text wraps within container */
}

.single-image {
  max-width: 900px; /* Set max-width for the image */
  height: auto;
  border-radius: 8px;
  position: absolute; /* Set image as absolute for positioning */

  top: 50px;
  bottom: 20px; /* Move image 20px from the bottom */
  right: 100px; /* Align image to the right */
}

/* Styling for heading */
.single-content h1 {
  font-weight: bold;
  color: #333;
  font-size: 40px;
  margin-bottom: 10px;

}

/* Styling for paragraphs */
.single-content p {
  color: black;
  font-size: 20px;
  line-height: 1.6;

}

@media (max-width: 768px) {
  .single-container {
    flex-direction: column;
    overflow-x: hidden;
    padding: 20px;
  }

  .single-content {
    margin-right: 0; /* Reset margin for smaller screens */
    margin-bottom: 20px; /* Add some space between text and image on smaller screens */
    padding-right: 0px; /* Increase margin from the left side */
  }
  .single-content h1 {

    font-size: 20px;
 
  }
  .single-content p {
    color: #222222;
    font-size: 15px;
    line-height: 1.6;
  }


  .single-image {
    max-width: 100%; /* Set max-width to ensure image fits within container */
    position: static; /* Reset position for smaller screens */
    margin-top: 20px; /* Add margin from the top */
  }
  .single-container {
    margin-top: 10px;

  
  }
}
