/* data.css */

.folio-container {
  margin-top: 100px;
  position: relative; /* Set container as relative for absolute positioning */
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align items to the top */
  justify-content: space-between; /* Space items evenly */
  padding: 80px;
}

.folio-content {
  flex: 1;
  margin-right: 20px; /* Add some space between text and image */
  word-wrap: break-word; /* Ensure text wraps within container */
}

.folio-image {
  max-width: 600px; /* Set max-width for the image */
  height: auto;
  border-radius: 8px;
  position: absolute; /* Set image as absolute for positioning */
  top: 150px;
  bottom: 20px; /* Move image 20px from the bottom */
  right: 20px; /* Move image away from the right border */

}

/* Styling for heading */
.folio-content h1 {
  font-weight: bold;
  color: #333;
  font-size: 40px;
  margin-bottom: 10px;
}
.folio-content h2 {
  color: #464646;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

/* Styling for paragraphs */
.folio-content p {
  color: #666;
  font-size: 20px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .folio-container {
    flex-direction: column;
    overflow-x: hidden;
    padding: 20px;
  }

  .folio-content {
    margin-right: 0; /* Reset margin for smaller screens */
    margin-bottom: 20px; /* Add some space between text and image on smaller screens */
    padding-right: 0px; /* Increase margin from the left side */
  }
  .folio-content h1 {

    font-size: 20px;
 
  }
  .folio-content p {
    color: #666;
    font-size: 15px;
    line-height: 1.6;
  }


  .folio-image {
    max-width: 100%; /* Set max-width to ensure image fits within container */
    position: static; /* Reset position for smaller screens */
    margin-top: 20px; /* Add margin from the top */
  }
  .folio-container {
    margin-top: 10px;

  }
  
}
