/* data.css */

.time-container {
  margin-top: 150px;
  position: relative; /* Set container as relative for absolute positioning */
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align items to the top */
  justify-content: space-between; /* Space items evenly */
  padding: 80px;

}

.time-content {
  flex: 1;
  margin-right: 20px; /* Add some space between text and image */
  word-wrap: break-word; /* Ensure text wraps within container */
}

.time-image {
  max-width: 400px; /* Set max-width for the image */
  height: auto;
  border-radius: 8px;
  position: absolute; /* Set image as absolute for positioning */
  top: 150px;
  bottom: 20px; /* Move image 20px from the bottom */
  right: 20px; /* Align image to the right */
}

/* Styling for heading */
.time-content h1 {
  font-weight: bold;
  color: #333;
  font-size: 25px;
  margin-bottom: 10px;
}
.time-content h2 {
  color: #464646;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

/* Styling for paragraphs */
.time-content p {
  color: #666;
  font-size: 20px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .time-container {
    flex-direction: column;
  }

  .time-content {
    margin-right: 0; /* Reset margin for smaller screens */
    margin-bottom: 20px; /* Add some space between text and image on smaller screens */
  }

  .time-image {
    max-width: 100%; /* Set max-width to ensure image fits within container */
    position: static; /* Reset position for smaller screens */
    margin-top: 200px; /* Add margin from the top */
  }
}
